/* http://paletton.com/#uid=13X0u0kmJFscrSsi7LQrp-twcsN */
html, body, div, form, label, ul, input{
    margin: 0;
    padding: 0; 
}

body{
    font-family: Geneva, Tahoma, Verdana, sans-serif;
}

fieldset{
    padding: 10px;
}

legend{
    text-align: center;
    font-size: 3em;
}

li{
    list-style: none;
    display: inline-block;
}

header{
    padding: 10px;
    height: 90px;
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

header div{
    line-height: 90px;
    font-size: 9em;
}

main{
    width: 960px;
    margin: 0 auto;
}

table{
    font-size: 2em;
}

#user-settings ul{
    width: 100%;
}

#user-settings li{
    width: 113px;
    margin: 0 10px;
}

#user-settings li div{
    width: 100px;
}

.user-details{
    font-size: 2em;
    margin: .3em .3em 0 0;
}

.user-details div{
    margin-top: 20px;
}

#user-settings .subscriptions select{
    width: 110%;
}

#user-settings button{
    float: right;
}

.subscription-day{
    margin: 0 0 0 5px;
    font-size: 2em;
}

.serial{
    width: 50px;
}

.cf:before,
.cf:after{
    content: "";
    display: block;
}

.cf:after{
    clear: both;
}

